# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
pip-freeze.txt
pip-selfcheck.json

# Config files
config/config.ini
*.env

# Data files
data/
*.csv
*.json
*.db
*.sqlite3

# Log files
logs/
*.log

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test artifacts
.pytest_cache/
.coverage
htmlcov/
